modules = ["go"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Go Interface & Enum Explorer"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "go_interface_enum_explorer"

[[workflows.workflow]]
name = "Go Interface & Enum Explorer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"
waitForPort = 5000

[[workflows.workflow]]
name = "go_interface_enum_explorer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"

[deployment]
run = ["sh", "-c", "go run main.go"]
